@model Banner
@{
    ViewData["Title"] = "About";
}

@section styles{
    <partial name="_BackgroundImageStylesPartial" model="Model" />
}

@*banner section start*@
<div class="row" id="background-img"></div>
@*banner section end*@

@*<h3>@ViewData["Message"]</h3>*@
<div class="row mb-4">
    <div class="col-sm-6 mb-3">
        <h2>@ViewData["Title"]</h2>
        <p>This is a final project for Code Academy.</p>
        <p>The aim was to create book recommendation site where user can find his most favorite book to read.</p>
    </div>
    <div class="col-sm-6">
        <img src="~/images/ProjectManagement-1.jpg" class="img-thumbnail" />
    </div>
</div>
