@model HomeAboutViewModel
@{
    ViewData["Title"] = "About";
}

@section styles{
    <partial name="_BackgroundImageStylesPartial" model="Model.Banner" />
}

@*banner section start*@
<div class="row" id="background-img"></div>
@*banner section end*@

@*<h3>@ViewData["Message"]</h3>*@
<div class="row mb-4">
    <div class="col-sm-6 mb-3">
        <h2>@Model.About.Title</h2>
        @Html.Raw(Model.About.Description)
    </div>
    <div class="col-sm-6">
        <img src="@Model.About.Image" class="img-thumbnail" />
    </div>
</div>
