@{
    ViewData["Title"] = "Home Page";
}

<input type="text" id="text" />
<a class="btn btn-primary" id="search">Search</a>



@section scripts{
    <script>
        $(document).on("keypress", "#text", function (key) {
            if (key.keyCode === 13) {
                $.ajax({
                    url: "Home/Book",
                    method: "GET",
                    data: { q: $("#text").val() },
                    success: function (res) {
                        console.log(res);
                        $("#row").html(res);
                    }
                })
            }
        })
    </script>
}
