
@{
    ViewData["Title"] = "Confirm email";
}

@section styles{
    <style>
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
}

<h2 class="text-center">Please confirm your email to log in.</h2>
<p class="text-info text-center">Check span folder.</p>

