@{
    ViewData["Title"] = "ConfirmEmail";
}

@section styles{
    <style>
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
}

<h2>Congratulations you confirmed your email.</h2>

