@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RemmemberMe"></label>
                <input type="checkbox" asp-for="RemmemberMe" />
            </div>

            <input type="submit" value="Login" class="btn btn-success" />
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}