@model Category
@{
    ViewData["Title"] = Model.Name + "category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h2>@Model.Name category</h2>
        <p class="text-info">In @Model.Name category @Model.Books.Count books</p>
        <hr />
        <div class="d-flex flex-wrap justify-content-around">
            <partial name="_BooksPartial" model="@Model.Books.Select(p => p.Book)" />
        </div>
    </div>
</div>

