@model BookStore.Models.ViewModels.BookViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<h2>Add new one book</h2>

<div class="row">
    <div class="col-sm-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.Title"></label><span class="text-danger"> *</span>
                <input type="text" asp-for="Book.Title" class="form-control" required />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.Subtitle"></label>
                <input type="text" asp-for="Book.Subtitle" class="form-control" />
                <span asp-validation-for="Book.Subtitle" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-12">
                <label asp-for="Book.Categories"></label><span class="text-danger"> *</span>
                <input type="text" placeholder="Search for categories" id="catSearch" class="float-right form-control" style="width: 200px;" />
                <button type="button" class="btn btn-primary float-right mr-5" id="add-new-category">Add new category</button>
                <div id="category-partial">
                    <partial name="_CategoriesPartial" model="Model" />
                </div>
                <span asp-validation-for="Book.Categories" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-12 mt-5">
                <label asp-for="Book.Authors"></label><span class="text-danger"> *</span>
                <input type="text" placeholder="Search for authors" id="authorSearch" class="float-right form-control" style="width: 200px;" />
                <button type="button" class="btn btn-primary float-right mr-5" id="add-new-author">Add new author</button>
                <div id="author-partial">
                    <partial name="_AuthorsPartial" model="Model" />
                </div>
                <span asp-validation-for="Book.Authors" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.Description"></label>
                <textarea asp-for="Book.Description" rows="10"  class="form-control"></textarea>
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.Language"></label><span class="text-danger"> *</span>
                <input type="text" asp-for="Book.Language" class="form-control" required />
                <span asp-validation-for="Book.Language" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.Publisher"></label><span class="text-danger"> *</span>
                <input type="text" asp-for="Book.Publisher" class="form-control" required />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.PublishedDate"></label><span class="text-danger"> *</span>
                <input type="datetime" asp-for="Book.PublishedDate" required class="form-control" id="publishedDate" />
                <span asp-validation-for="Book.PublishedDate" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.PageCount"></label><span class="text-danger"> *</span>
                <input type="number" asp-for="Book.PageCount" class="form-control" required />
                <span asp-validation-for="Book.PageCount" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-6">
                <label asp-for="Book.Photos"></label>
                <input type="file" asp-for="Book.Photos" class="form-control" multiple accept="image/*" />
                <span asp-validation-for="Book.Photos" class="text-danger"></span>
            </div>

            <input type="submit" value="Add book" class="btn btn-outline-success" />
            <a asp-area="Admin" asp-controller="Book" asp-action="Index" class="btn btn-outline-primary">Back to the menu</a>
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on("keyup", "#catSearch", function () {
                searchHelper(".categories-search", $(this).val());
            })

            $(document).on("keyup", "#authorSearch", function () {
                searchHelper(".authors-search", $(this).val());
            })

            function searchHelper(listSelector, searchString) {
                for (const elem of $(listSelector)) {
                    if ($(elem).children("label").text().toLowerCase().includes(searchString.toLowerCase())) {
                        $(elem).show();
                    } else {
                        $(elem).hide();
                    }
                }
            }

            $("#publishedDate").datepicker();

            //add new category modal
            $(document).on("click", "#add-new-category", function () {
                swal({
                    title: "Add new category.",
                    text: "Please enter category name.",
                    icon: "info",
                    content: "input",
                    buttons: ["Cancel", "Add"],
                    dangerMode: false
                })
                    .then((category) => {
                        if (!category) throw null;

                        $.ajax({
                            url: "/admin/category/createasync",
                            data: { category: category },
                            success: function (res) {
                                swal(res.data, { icon: res.icon })
                                $.ajax({
                                    url: "/admin/category/getcategoriesasync",
                                    success: function (res) {
                                        $("#category-partial").html(res);
                                    }
                                })
                            }
                        })
                    })
                    .catch(err => {
                        if (err) swal("Something goes wrong.", { icon: "error" })
                        else swal.close();
                    })
            })

            //add new author modal
            $(document).on("click", "#add-new-author", function () {
                swal({
                    title: "Add new author.",
                    text: "Please enter author's fullname.",
                    icon: "info",
                    content: "input",
                    buttons: ["Cancel", "Add"]
                })
                    .then((author) => {
                        if (!author) throw null;

                        $.ajax({
                            url: "/admin/author/createasync",
                            data: { author: author },
                            success: function (res) {
                                swal(res.data, { icon: res.icon });
                                $.ajax({
                                    url: "/admin/author/getauthorsasync",
                                    success: function (res) {
                                        $("#author-partial").html(res);
                                    }
                                })
                            }
                        })
                    })
            })
        })
    </script>
}