@{
    ViewData["Title"] = "Books";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
}

<h2>Books</h2>

<a asp-area="Admin" asp-controller="Book" asp-action="Create">Add new one book</a>

<table id="books">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Categories</th>
            <th>Description</th>
            <th>Publisher</th>
            <th>Language</th>
            <th>Page count</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        var table;
        $(document).ready(function () {
            //data table
            table = $("#books").DataTable
                ({
                    serverSide: true,
                    processing: true,
                    ajax: "/admin/book/getbooks",
                    ordering: false
                });

            //delete book
        })

        function deleteBook(bookId) {
            $.ajax({
                url: "/admin/book/delete",
                data: { bookId: bookId },
                success: function (res) {
                    table.draw();
                    swal(res.title, res.data, { icon: res.icon });
                }
            })
        }
    </script>
}