@model IEnumerable<Book>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<partial name="_BookPartial" model="Model" />
<div class="pagination-container">
    <div class="ui pagination menu">
        <a class="active item">
            1
        </a>
        <div class="disabled item">
            ...
        </div>
        <a class="item">
            10
        </a>
        <a class="item">
            11
        </a>
        <a class="item">
            12
        </a>
    </div>
</div>