@model BookViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="d-flex flex-column flex-wrap mt-3 w-100" style="height: 300px; overflow-x: scroll;">
    @foreach (var cat in Model.Categories)
    {
        <div class="categories-search">
            <input type="checkbox" value="@cat.Id" name="categories"
                   @(Model.CategoriesId.Any(c => c == cat.Id) ? "checked" : null) id="chbCategory-@cat.Id" />
            <label for="chbCategory-@cat.Id">@cat.Name</label>
        </div>
    }
</div>