@model Author
@{
    ViewData["Title"] = Model.Fullname + " details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2 class="text-primary">@Model.Fullname</h2>
        <p class="text-info">@Model.Fullname has @Model.Books.Count books</p>
        <hr />
        <div class="d-flex flex-wrap justify-content-around">
            <partial name="_BooksPartial" model="@Model.Books.Select(p => p.Book)" />
        </div>
    </div>
</div>

