@model IEnumerable<BookFavoritePivot>
@{
    ViewData["Title"] = "Favorite books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2 class="text-primary">Favorites</h2>
        <hr />
        <div class="d-flex flex-wrap justify-content-around">
            <partial name="_BooksPartial" model="@Model.Select(f => f.Book)" />
        </div>
    </div>
</div>

